<nav class="bg-blue-600 p-4">
    <ul class="flex space-x-4 justify-center">
      <li><a href="index.html" class="btn bg-white text-blue-600 hover:bg-gray-200">Home</a></li>
      <li><a href="buy_raffles.html" class="btn bg-white text-blue-600 hover:bg-gray-200">Comprar Rifas</a></li>
      <li class="admin-only"><a href="raffles.html" class="btn bg-white text-blue-600 hover:bg-gray-200">Gerenciar Rifas</a></li>
      <li><button id="logout" class="btn bg-red-600 text-white hover:bg-red-700">Logout</button></li>
    </ul>
  </nav>